
/* MAIN STYLES
*************************/
.grid-container {
	min-width: 320px;
	max-width: 960px;
}


body {
	background: #eef0e6;
	color: #00303E;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

fieldset {
	background: #FFF9EF;
	border-radius: 5px;
	border: none;
	border-bottom: 2px solid #E1DFE6;
}

header {
	text-align: center;
	color: #00303E;
}

legend {
	background: #FFF9EF;
	padding: 5px;
	border-bottom: 2px solid #e1dfe6;
	border-right: 2px solid #e1dfe6;
	border-radius: 5px;
	/*text-align: center;*/
}

.error {
	text-align: right;
	color: #EC4911;
}
input[type="text"],
input[type="email"],
input[type="password"] {
	width: 100%;
	margin: 0;
}
select,
input,
.cc {
	margin-bottom: 10px !important;
	border: none;
	border-radius: 5px;
}
select,
input {
	background: #E4E6DF;
	padding: 5px;
}
input[type="submit"] {
	background: #3f8abf;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 15px;
	cursor: pointer;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
	border-width: 1px 1px 3px;
	border-style: solid;
	border-color: #326e99;
}


/*CREDIT CARD SPRITE
*********************/
input[type="radio"] {
	float: left;
	margin-top: 12px;
}
.cc { 
	height: 36px;
}

.cc div {
 	background:url(cc.png);
 	display: block;
 	border-radius: 5px;
 	border: 1px solid #E4E6DF;
 	float: left;
 	margin-right: 25px !important;
}

.cc .mc {
 	background-position:0px 0px;
 	height:32px;
 	margin:2px;
 	width:56px;
}
.cc .vc {
 	background-position:-56px 0px;
 	height:32px;
 	margin:2px;
 	width:56px;
}
.cc .dc {
 	background-position:-112px 0px;
 	height:32px;
 	margin:2px;
 	width:56px;
}
.cc .ac {
 	background-position:-168px 0px;
 	height:32px;
 	margin:2px;
 	width:56px;
}
.cc .mb {
 	background-position:0px 32px;
 	height:32px;
 	margin:2px;
 	width:56px;
}
.cc .vb {
 	background-position:-56px 32px;
 	height:32px;
 	margin:2px;
 	width:56px;
}
.cc .db {
 	background-position:-112px 32px;
 	height:32px;
 	margin:2px;
 	width:56px;
}
.cc .ab {
 	background-position:-168px 32px;
 	height:32px;
 	margin:2px;
 	width:56px;
}